{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded sm">
        <h2 class="mb-12 text-2xl text-center">{{category.name}} items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' pk=item.id %}">
                    <div>
                        <img src="{{ item.image.url }}" class="rounded-t-xl aspect-[1/1]">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl h-[120px]">
                        <h2 class="text-xl line-clamp-1">{{item.name}}</h2>
                        <p class="text-gray-500">Price: {{item.price}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}